@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@300&family=Poppins:wght@300&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
    /* background: black; */
    font-size: 1rem;
    /* position: relative; */
    background-color: #eee;
    font-family: 'Nunito', sans-serif;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
    color: #000;

}


header{
    display: flex;
    position: fixed;
    background: #eee;
    top: 0;
    width: 100%;
    align-items: center;
    padding: 0 1.5rem;
    justify-content: space-around;
    min-height: 75px;
    

}




#header-img{
width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    text-align: center;
  
    

}



@media(max-width:600px){
    header{
        flex-wrap: wrap;
    }


  

}

@media(max-width:650px){
#logo{
margin-top: 10px;
width: 100%;

}
}

#logo{

    width: 60vw;
}


#nav-bar{
    font-weight: 400px;
}
#nav-bar > ul{

    width: 35vw;
    justify-content: space-around;
    
    display: flex;
  
    }
@media(max-width:650px){

    #nav-bar{
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #logo > img{

        margin: 0 auto;
    }
}

@media(max-width:650px){

    #nav-bar > ul{
        flex-direction: column;
    }
}




  .btn{

    font-weight: 800;
    text-transform: uppercase;
   font-size: 0.8rem;
    border: 0px solid black;
    border-radius: 0.1rem;
    cursor:pointer;
    transition: 1s background-color ;
    

}

#hero .btn:hover{

    background-color:#ff9500 ;

}


#hero > h2{

    font-weight:800;
}


    #hero{

        margin-top:50px;
        display: flex;
        flex-direction: column;
        height: 150px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #hero > h2{
        margin-bottom: 10px;
    }


    input[id="email"]{

        width: 100%;
        max-width: 215px;
        padding: 0.2rem;

    }

    input[id="submit"]{
width: 100%;
padding: 0 20px;
max-width: 130px;
background-color: #ffc300;
margin-top: 10px;
    }

    @media(max-width:650px){

        #hero{
            margin-top:100px
        }


        
    }


    #features{
        background-color: red;
    }